@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header {
    min-height: 120px;
    width: 100%;
    background-color: rgba(101, 103, 129, 0.5);
    /* position: fixed;
    top: 0; */
}

.head {
    width: 100%;
    display: flex;
}

nav {
    display: flex;
    justify-content: center;
    background: #E6E6FA;
}

.nav_li {
    font-size: 20px;
    margin: 5px 25px;
    border: 0;
    background: 0;
    
}

a {
    color: #4B0082;
    text-decoration: none;
    display: block;
}

.wrapper {
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
}

.header_inside {
    min-height: 120px;
    /* display: flex; */
}

.logo, .info, .phone {
    min-height: 120px;
    /* border: 1px dashed yellow; */
    width: 30%;
    text-align: center;
}
/* 
.phone {
    display: 
    align-items: flex-end;
} */

.logo>img {
    height: 120px;
    border-radius: 25px;
}

.play {
    font-family: 'Playfair Display', serif;
}

.info_b {
    font-size: 16pt;
    color: black;
    margin-top: 10px;
}

.info_s {
    font-size: 13pt;
    color: #ffffff;
    border-top: 1px solid white;
}

h1 {
    font-size: 18pt;
    color: black;
    margin: 5px 0;
    text-align: center;
}

.phone_s {
    font-size: 13pt;
    color: #FAEBD7;
    margin: 20px;
}

.phone_b {
    font-size: 20pt;
    color: black;
    font-weight: 900;
    text-decoration: none;
}

a:hover {
    color:#800000;
}

/* main */
main {
    height: 100%;
}
.main_inside {

    min-height: 450px;
    /* display: flex; */
}

.text {
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 20pt;
    margin: 20px 0;
}

.text_b {
    color: blue;
    font-size: 12pt;
    margin: 5px 0;
}

.lock {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 12px;
    margin: 15px;
}

.lock:hover {
    opacity: 0.5;
}

.lock1 {
    background-image: url(../img/door.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lock2 {
    background-image: url(../img/auto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lock3 {
    background-image: url(../img/safe.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.choice {
    display: flex;
    justify-content: space-around;
}

.choice_info {
    width: 40%;
}

.choice_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unset {
    list-style-type: unset;
}

.pluses {
    width: 100%;
    min-height: 150px;
    border: 1px dashed yellow;
    display: flex;
    justify-content: center;
}

.list {
    padding-left: 40px;
    margin: 20px;
}

li {
    margin: 10px 0;
    border: 1px solid rgba(138, 126, 247, 0.2);
    background: rgba(138, 126, 247, 0.2);
    padding: 5px;
    border-radius: 11px;
    list-style-type: none;
}

.text_w {
    color: black;
    text-align: center;
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 17px;
    font-weight: 600;
}

.form {
    width: 30%;
    border: 3px solid rgba(138, 126, 247, 0.2);
    background: rgba(138, 126, 247, 0.2);
    padding: 5px;
    text-align: end;
    border-radius: 11px;
}

input[type=text], input[type=phone], input[type=submit] {
    margin: 10px 5px;
    color: darkblue;
    border-radius: 4px;
    padding: 5px;
}

.sub {
    margin: 0;
    text-align: center;
}

.price {
    width: 80%;
    margin: auto;
}

h3 {
    padding: 8px;
    margin: 8px 0;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: black;
    border: 1px solid rgba(101, 103, 129, 0.6);
    background: rgba(101, 103, 129, 0.6);
}

.center {
    text-align: center;
    margin-bottom: 15px;
}

.acc_list {
    margin-left: 25px;
}

footer {
    border-top: 2px solid black;
    height: 70px;
    width: 100%;
    background-color: rgba(101, 103, 129, 0.5);
    margin-top: 50px;
}

.footer_inside {
    display: flex;
    justify-content: space-between;
}

.footer_info, .footer_contacts, .footer_copy {
    width: 30%;
    align-items: flex-end;
}

.list_mini {
    background: none;
    margin-left: 2px;
    font-size: 14px;
}

.list_mini>li {
    background: none;
    border: none;
}

#toTop {
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background:#f7f7f7;
    text-align:center;
    padding: 8px;
    position: fixed;
    bottom: 10px; /* отступ кнопки от нижнего края страницы*/
    right: 10px;
    cursor:pointer;
    display: none;
    color: #333;
    font-family: verdana;
    font-size: 13px;
    }

.info_about {
    font-size: 20px;
    padding: 3px;
    font-style: italic;
    text-indent: 25px;
}

.info_about>p {
    padding: 10px;
}

.tabl_all {
    margin-top: 20px;
    font-size: 15px;
    width: 50%;
    margin-left: 85px;
}

td {
    padding: 6px;
    background: #F5F5F5;
}

thead {
    font-weight: bold;
}